<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>remput</title>
</head>
<body>
  <h1>remput help page</h1>

  <p>
  Connect your device to the same LAN as the server. Then open a web browser
  and visit <a href="http://{{.IP}}:{{.Port}}/static/">remput client</a>
  or scan the QR code below.
  </p>
  <img src="/static/qr.png"/>
</body>
</html>
